<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie8 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
</head>

<body>
  <div id="wrapper">
  </div>
</body>

</html>
