// margin/padding
@mixin utility($nth: 5, $start: 0, $end: 14, $prefix: null) {
   @for $i from $start through $end{
    @if $prefix == null {
      .u-mt#{$nth*$i} {
        margin-top: ($nth*$i)+px !important;
      }
      .u-mr#{$nth*$i} {
        margin-right: ($nth*$i)+px !important;
      }
      .u-mb#{$nth*$i} {
        margin-bottom: ($nth*$i)+px !important;
      }
      .u-ml#{$nth*$i} {
        margin-left: ($nth*$i)+px !important;
      }
      .u-pt#{$nth*$i} {
        padding-top: ($nth*$i)+px !important;
      }
      .u-pr#{$nth*$i} {
        padding-right: ($nth*$i)+px !important;
      }
      .u-pb#{$nth*$i} {
        padding-bottom: ($nth*$i)+px !important;
      }
      .u-pl#{$nth*$i} {
        padding-left: ($nth*$i)+px !important;
      }
    }
    @else {
      .u-#{$prefix}-mt#{$nth*$i} {
        margin-top: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-mr#{$nth*$i} {
        margin-right: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-mb#{$nth*$i} {
        margin-bottom: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-ml#{$nth*$i} {
        margin-left: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-pt#{$nth*$i} {
        padding-top: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-pr#{$nth*$i} {
        padding-right: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-pb#{$nth*$i} {
        padding-bottom: ($nth*$i)+px !important;
      }
      .u-#{$prefix}-pl#{$nth*$i} {
        padding-left: ($nth*$i)+px !important;
      }
    }
  }
}
