<section class="media">
  <figure class="media-image"><img src="" alt="" /></figure>
  <div class="media-body">
    <h2 class="media-heading">見出し</h2>
    <p class="media-text">テキストテキスト</p>
    <div class="media-button">
      <a href="#" class="button">リンクボタン</a>
    </div>
  </div>
</section>

<!--
<section class="media">
  <figure class="media-image"><img src="" alt="" /></figure>
  <div class="media-body">
    <h2 class="media-heading">見出し</h2>
    <p class="media-text">テキストテキスト</p>
    <a href="#" class="button">リンクボタン</a> ←NG
  </div>
</section>
-->
