@include max-query($sm) {
  .base_inner-sp {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.icon-arrow {
  position: relative;
  padding-left: 1em;
  &:before {
    $arrow-hight: 0.5em;
    $arrow-width: 0.45em;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-left: $arrow-hight solid;
    border-top: $arrow-width solid transparent;
    border-bottom: $arrow-width solid transparent;
    margin-top: -$arrow-width*2/2;
  }
  &:hover {
    text-decoration: underline;
  }
}
.icon-arrow-left {
  position: relative;
  padding-left: 1em;
  &:before {
    $arrow-hight: 0.5em;
    $arrow-width: 0.45em;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-right: $arrow-hight solid;
    border-top: $arrow-width solid transparent;
    border-bottom: $arrow-width solid transparent;
    margin-top: -$arrow-width*2/2;
  }
  &:hover {
    text-decoration: underline;
  }
}
/* icon-arrow　sub-module */
.login-text {
  &.icon-arrow {
    &:before {
      border-left-color: #8E7523;
    }
  }
}
.site-content-heading {
  @include rem(18,14);
  font-weight: bold;
  margin: 20px 0 0;
}
.site-contents-annotation {
  @include rem(12,14);
  color: #b2b9be;
  display: block;
  margin-top: 30px;
  line-height: (24-20)/20+1;
}
@include max-query($sm) {
  .site-contents-annotation {
    @include rem(10,14);
    margin-top: 20px;
  }
}
.row_inline {
  display: inline-block;
  &-item {
    float: left;
    &:first-child {
      margin-left: 0;
    }
  }
}
.row_table {
  display: table;
  width: 100%;
  table-layout: fixed;
  &-item {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}
/*page top*/
.pageTop a {
  margin: 20px auto;
  text-indent: -9999px;
  background: url(../../img/pageTop.png) no-repeat;
  display: block;
}
@include max-query($sm) {
  .pageTop a {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}
@include min-query($sm) {
  .pageTop.pageTop-small a {
    background: url(../../assets/img/pageTop-small.png) no-repeat right;
    margin: 1em 15px 0 0;
  }
}
