<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie8 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
  <% relative_path = './'; %>
    <% path_img = 'assets/img/'; %>
      <%- include('./partial/_head', {
      meta:{title:'タイトル', description:'', keywords:'', image:'', url:'', type:'website'}
   }) %>
</head>

<body>
  <div id="wrapper">
    <div id="hello"></div>
    <div id="world"></div>
  </div>
  <%- include('./partial/_bottom-area') %>
</body>

</html>
