/*
##基本スタイル
```
<p>特に何も指定しないときの状態</p>
```
```
<dl>
  <dt>特に何も指定しないときの状態</dt>
  <dd>特に何も指定しないときの状態</dd>
</dl>
```
```
<ul>
  <li>特に何も指定しないときの状態</li>
  <li>特に何も指定しないときの状態</li>
</ul>
```
```
<ol>
  <li>特に何も指定しないときの状態</li>
  <li>特に何も指定しないときの状態</li>
</ol>
```
###見出し
```
<h1>h1:heading</h1>
<h2>h2:heading</h2>
<h3>h3:heading</h3>
<h4>h4:heading</h4>
<h5>h5:heading</h5>
<h6>h6:heading</h6>
```
###インライン
```
<a href="#">特に何も指定しないときの状態</a>
<span>特に何も指定しないときの状態</span>
```
*/
html {
  font-size: $root-font-size;
  width: 100%;
  min-height: 100%;
  box-sizing: $root-box-sizing;
}
body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
  line-height: $base-line-height;
  text-align: justify;
  text-justify: inter-ideograph;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
object,
video {
  max-width: 100%;
}
