/*
#styleguide
基本スタイル
```
<p>特に何も指定しないときの状態</p>
```
*/
html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100%;
  box-sizing: $root-box-sizing;
}
body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: 16em;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
  line-height: $base-line-height;
  text-align: justify;
  text-justify: inter-ideograph;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
object,
video {
  max-width: 100%;
}
