<a class="menu-trigger2" href="#" id="js-menu">
   <i class="menu-trigger__icon"></i>
</a>

<a class="menu-trigger" href="#" id="js-menu2">
   <span class="menu-trigger__bar"></span>
   <span class="menu-trigger__bar"></span>
   <span class="menu-trigger__bar"></span>
</a>
