//… その他(横)
.icon--others {
  &:before {
    display: block;
    content: '';
    width: $icon-others-size;
    height: $icon-others-size;
    background-color: $icon-color;
    border-radius: 50%;
    box-shadow: ($icon-others-size + $icon-others-gutter) 0 $icon-color, 2*($icon-others-size + $icon-others-gutter) 0 $icon-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: -($icon-others-size + $icon-others-gutter);
  }
}
//… その他(縦)
.icon--others-tate {
  &:before {
    display: block;
    content: '';
    width: $icon-others-size;
    height: $icon-others-size;
    background-color: $icon-color;
    border-radius: 50%;
    box-shadow: 0 ($icon-others-size + $icon-others-gutter) $icon-color, 0 2*($icon-others-size + $icon-others-gutter) $icon-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -($icon-others-size + $icon-others-gutter);
  }
}
