//▶右
.icon__arrow-a {
  &:after,
  &:before {
    display: block;
    content: '';
    width: $icon-arrow-length;
    height: $icon-arrow-length;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:after {
    background-color: #fff;
    left: $icon-base-size/2-$icon-arrow-weight;
  }
  &:before {
    background-color: $icon-color;
    left: $icon-base-size/2;
  }
}
.icon__arrow-b {
  &:after,
  &:before {
    display: block;
    content: '';
    width: $icon-arrow-length;
    height: $icon-arrow-length;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    margin-left: (-$icon-arrow-length/2+$icon-arrow-weight)+-$icon-arrow-gutter;
  }
  &:after {
    background-color: #fff;
    left: $icon-base-size/2-$icon-arrow-weight;
  }
  &:before {
    background-color: $icon-color;
    left: $icon-base-size/2;
  }
}
/*◀︎左*/
.icon__arrow--left {
  &:after,
  &:before {
    margin-left: $icon-arrow-length/2-$icon-arrow-weight;
  }
  &:after {
    left: $icon-base-size/2;
  }
  &:before {
    left: $icon-base-size/2-$icon-arrow-weight;
  }
}
