/*ホーム2*/
.icon--home {
  &:after,
  &:before {
    display: block;
    content: '';
    position: absolute;
  }
  &:before {
    width: 10px;
    height: 10px;
    border: 10px solid #b13368;
    border-bottom: 0;
    top: 40px;
    left: 30px;
  }
  &:after {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 19px solid #b13368;
    top: 10%;
    left: 10%;
  }
}
