/*虫メガネ*/
.icon--search {
  &:after,
  &:before {
    display: block;
    content: '';
    position: absolute;
  }
  &:before {
     //$icon-search-size;
     //$icon-base-size
    width: $icon-search-size;
    height: $icon-search-size;
    border: $icon-search-weight solid $icon-color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -$icon-search-weight;
    margin-left: -$icon-search-weight;
  }
  &:after {
    width: $icon-search-weight;
    height: -$icon-search-weight+$icon-search-size;
    background-color: $icon-color;
    border-radius: $icon-search-weight;
    top: $icon-search-size/2-$icon-search-size/2;
    left: $icon-base-size/2-$icon-search-size/2;
    transform: translate(0%,0%) rotate(-45deg);
    //margin-top: -$icon-search-weight+$icon-search-size;
    //margin-left: -$icon-search-weight+$icon-search-size;
  }
}
