/*チェック*/
.icon--check {
  &:after,
  &:before {
    display: block;
    content: '';
    width: 8px;
    background-color: #b13368;
    border-radius: 10px;
    position: absolute;
  }
  &:after {
    height: 38px;
    transform: rotate(45deg);
    top: 28px;
    left: 49px;
  }
  &:before {
    height: 24px;
    transform: rotate(-45deg);
    top: 39px;
    left: 31px;
  }
}
