<% media.forEach(function(data, key){ %>
<% var taglist = {
   'タグ1':'/tags/1.html',
   'タグ2':'/tags/2.html',
   'タグ0':'/tags/0.html',
   'タグ3':'/tags/3.html'
}; %>
  <p class="tags"><% data.tags.forEach(function(tags, j){ %>
     <a href="/contents/guide/know-how<%= taglist[tags] %>"><span><%= tags %></span></a>
     <% }); %>
  </p>
<% }); %>
