@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}
@mixin animation($animation-name) {
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}



//sample
//opacityアニメーション
@include keyframes(animationSample) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#hoge {
  @include animation(animationSample 1.2s ease 0.15s);
}

//連続したopacityアニメーション
@for $i from 1 through 10 {
  $DELAY: $i * 0.15s;
  @include keyframes(animationFadeIn#{$i}) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #demo2>li:nth-child(#{$i}) {
    @include animation(animationFadeIn#{$i} 1.2s ease $DELAY);
  }
}

//連続したopacityアニメーション（translateYによる要素が下から上がる効果付き）
@for $i from 1 through 10 {
  $DELAY: $i * 0.1s;
  @include keyframes(animationFloat#{$i}) {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  #demo3 {
    >li {
      &:nth-child(#{$i}) {
        @include animation(animationFloat#{$i} 1.6s ease $DELAY);
      }
    }
  }
}
