//フォーム用変数
$iconColor: #e6f3f0;
$icon_backgroundColor: #fff;
$input_outerWidth: 20px;
$input_innerWidth: 10px;
/*

form

Markup:
<ul class="c-input-label c-input-label--radio">
  <li>
   <input name="sample-radio" id="radio-1" type="radio">
   <label for="radio-1">達成した</label>
  </li>
  <li>
   <input name="sample-radio" id="radio-2" type="radio">
   <label for="radio-2">達成していない</label>
  </li>
</ul>

Styleguide 3.0

*/
.input_label {
  input {
    display: none;
  }
  input + label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: $input_outerWidth+10;
    cursor: pointer;
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
    }
    &:before {
      left: 0;
      box-sizing: border-box;
      display: block;
      width: $input_outerWidth;
      height: $input_outerWidth;
      transform: translateY(-50%);
      background-color: $icon_backgroundColor;
      border: 1px solid #d3d3d3;
    }
  }
  input:checked + label {
    &:after {
      box-sizing: border-box;
      display: block;
    }
  }
}
/*

form:radio

Markup:
<ul class="input_label input_label--radio">
  <li>
   <input name="sample-radio" id="radio-1" type="radio">
   <label for="radio-1">radio-1</label>
  </li>
  <li>
   <input name="sample-radio" id="radio-2" type="radio">
   <label for="radio-2">radio-2</label>
  </li>
</ul>

Styleguide 3.1

*/
.input_label--radio {
  input + label {
    font-size: 1.4rem;
    &:before {
      border: 1px solid #ccc;
      border-radius: 50%;
    }
    &:after {
      left: ($input_outerWidth - $input_innerWidth)/2;
      width: $input_innerWidth;
      height: $input_innerWidth;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #e3e3e3;
    }
  }
  input:checked + label {
    color: $color-sub;
    &:after {
      background-color: $color-sub;
    }
  }
}
/*

form:checkbox

Markup:
<ul class="c-input-label c-input-label--radio">
  <li>
   <input name="sample-radio" id="radio-1" type="radio">
   <label for="radio-1">達成した</label>
  </li>
  <li>
   <input name="sample-radio" id="radio-2" type="radio">
   <label for="radio-2">達成していない</label>
  </li>
</ul>

Styleguide 3.2

*/
.input_label--check {
  input + label {
    font-size: 1.4rem;
    &:before {
      border: 1px solid #ccc;
      border-radius: 50%;
    }
    &:after {
      left: ($input_outerWidth - $input_innerWidth)/2;
      width: $input_innerWidth;
      height: $input_innerWidth;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #e3e3e3;
    }
  }
  input:checked + label {
    color: $color-sub;
    &:after {
      background-color: $color-sub;
    }
  }
}
/*

form:select

Markup:
<label for="" class="c-input-select c-input-select--tries">
  <select name="" id="">
    <option value="">実行時の年齢</option>
  </select>
</label>

Styleguide 3.3

*/
.customSelect {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #ebebeb;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  > select {
    appearance: none;
    position: relative;
    display: block;
    padding: 0.25em 0.5em;
    background: transparent;
    border: none;
    outline: none;
  }
  //IE10,11のselectの矢印ボタンを非表示
  > select::-ms-expand {
    display: none;
  }
}
.customSelect--general {
  > select {}
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none; //マウスイベントのターゲットから除外し、下に存在するselectを反応させる
  }
}
/*

form:select

Markup:
<select class="select select_general -size_s -wide_c hasCustomSelect">
  <option value="nagi" selected="selected">ヨシダ ナギ</option>
  <option value="curry">カレーまん</option>
  <option value="6dim">6-dim+（ロクディム）</option>
  <option value="florence_wong">FlorenceWong</option>
</select>

Styleguide 3.3.1

*/
