@if $enable-flex {
  // flex
  .media {
    display: flex;
    //margin-bottom: $spacer;
    &-body {
      flex: 1;
    }
    &-middle {
      align-self: center;
    }
    &-bottom {
      align-self: flex-end;
    }
  }
}
@else {
  // table
  .media {
    display: table;
    &-image {
      display: table-cell;
      //padding-right: 20px;
      > img {
        display: block;
      }
    }
    &-body {
      display: table-cell;
      vertical-align: top;
      &.media-middle {
        vertical-align: middle;
      }
      &.media-bottom {
        vertical-align: bottom;
      }
    }
  }
}
