$width: 15px;
$height: 3px;
$duration: 0.3s;
.menu-trigger,
.menu-trigger__bar {
  display: inline-block;
  transition: all $duration;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: $width+5;
  height: $width;
  border-radius: 50%;
  &:hover {
    background: #999;
  }
}
.menu-trigger__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: $height;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger__bar {
  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: $width/2-$height/2;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: $height;
      background-color: #000;
      border-radius: 4px;
      transition: all $duration;
    }
  }
  &:nth-of-type(3) {
    bottom: 0;
  }
}
// エフェクト
.menu-trigger.is-active {
  //transform: rotateX(720deg);
  .menu-trigger__bar {
    &:nth-of-type(1) {
      transform: translateY($width/2-($height/2)) scale(0);
    }
    &:nth-of-type(2) {
      transform: rotate(-45deg);
      &:after {
        transform: rotate(90deg);
      }
    }
    &:nth-of-type(3) {
      transform: translateY(-($width/2)+($height/2)) scale(0);
      transition: none;
    }
  }
}
/* toggle-panel */
$length: 40px;
$length-height: 3px;
$duration: 0.15s;
.menu-trigger2 {
  display: inline-block;
  position: relative;
  width: $length+10px;
  height: $length+10px;
  border-radius: 50%;
  background: #fff;
  transition: background $duration;
  &:hover {
    background: #999;
  }
  &:after {
    position: absolute;
    left: 50%;
    bottom: -15px;
    content: 'その他';
    display: block;
    width: 100%;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transform: translateX(-50%);
    text-align: center;
    //transition: all 0.4s;
  }
}
.menu-trigger__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $length/2;
  height: $length-height;
  margin-top: -($length-height/2);
  margin-left: -($length/4);
  background: #2196F3;
  border-radius: 4px;
  transition: background 0s $duration;
  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    //top: 50%;
    left: 50%;
    width: $length/2;
    height: $length-height;
    margin-left: -($length/4);
    background: #2196F3;
    border-radius: 4px;
    transition-duration: $duration,.3s;
    transition-delay: $duration,0s;
  }
  &:before {
    //margin-top: -($length/6)-($length-height/2);
    top: -($length/6)-($length-height/2);
    -webkit-transition-property: top,-webkit-transform !important;
    transition-property: top,transform;
  }
  &:after {
    //margin-top: ($length/6)-($length-height/2);
    bottom: -($length/6)-($length-height/2);
    -webkit-transition-property: bottom,-webkit-transform !important;
    transition-property: bottom,transform;
  }
}
//エフェクト
.menu-trigger2.is-active {
  .menu-trigger__icon {
    background: transparent;
    &:before {
      top: 0;
      //transform: rotate(45deg);
      transform: rotate(-45deg);
    }
    &:after {
      bottom: 0;
      //transform: rotate(-45deg);
      transform: rotate(45deg);
    }
    &:after,
    &:before {
      //margin-top: 0;
      transition-delay: 0s,$duration;
    }
  }
}
