//ナビの幅を均等
.nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  &__item {
    display: table-cell;
    > a {
      display: block;
      padding: 20px 0;
      text-align: center;
      text-decoration: none;
      background-color: #49e;
      color: #fff;
    }
  }
}
//リスト
.tableView {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #999;
  + .tableView__item {
    border-top: 1px solid #eee;
  }
  &__item {
    padding: 1em;
    background-color: #ddd;
    > a {
      display: block;
      margin: -1em;
      padding: 1em;
      text-decoration: none;
    }
  }
}
.tableView__target {
  position: relative;
  padding-right: 2.4em;
  &-ico {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.6em;
    margin: auto;
  }
}
.ico {
  display: inline-block;
}
